<div class="details-view">
  <%= scrivito_details_for 'Title' do %>
    <%= scrivito_tag :div, @obj, :title %>
  <% end %>
  <%= scrivito_details_for 'Quote' do %>
    <%= scrivito_tag :div, @obj, :text %>
  <% end %>
  <%= scrivito_details_for 'Author' do %>
    <%= scrivito_tag :div, @obj, :author %>
  <% end %>
  <%= scrivito_details_for 'Position or Jobtitle' do %>
    <%= scrivito_tag :div, @obj, :position %>
  <% end %>
</div>